h3{
    margin:1em; 
}

.plusicon{
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    margin-right: 1em !important;
    float: right;
}

a{
    color: black !important;
}

.card{
    padding:2em;
}
.finalrow{
    margin-top:2em;
}

.plusicon1{
    float: left;
}

.cross{
    float: right;
}

.edit{
    float : right;
    margin-right: 2em;
}

.marks{
    float : right;
}

.quizbutton{
    margin-top: 3em;
}